<div ng-controller="scheduleController" ngcloak>
    <div id="schedule" class="itemPanel">
      <h3 class="colHeader"><span class="sr-only">Schedule</span>
      </h3>    
      <div ng-show="loadingSchedule" class="row loadingBox">
         <div class="spinner col-lg-2 col-md-2 col-xs-2">
         </div>
         <div class="col-lg-10 col-md-10 col-xs-10">
          Getting schedule info from CTools and Canvas...
         </div>
      </div>
      <div class="alert alert-info" ng-show="!filteredItems.length  && !loadingSchedule">
      <p ng-if="scheduleStatus.ctools.status !==200 && scheduleStatus.canvas.status !==200">CTools and Canvas unreachable.</p>
      <span ng-show="(scheduleStatus.ctools.status ==200 || scheduleStatus.canvas.status ==200) && schedule.length!==0">{{showWhen | noItemsFoundForTime}}</span>
      <span ng-show="schedule.length===0 && (scheduleStatus.ctools.status ===200 || scheduleStatus.canvas.status ===200)">No items due in CTools or Canvas.</span></div>

      <ul class="itemListSchedule">
          <li ng-repeat="item in filteredItems  = (schedule | filter:showWhen) |limitTo:scheduleLimit" class="container-fluid" ng-hide="item.when !== showWhen">
              <h4 ng-if="item.today && $index === 0">Today</h4>
              <h4 ng-if ="item.today !== filteredItems[$index - 1].today && !item.today">Next few days</h4>
              <div class="listItem">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-xs-1 {{item.contextLMS}} iconContainer">
                    </div>
                    <div class="col-lg-7 col-md-7 col-xs-7">
                      <a target="_blank" href="{{item.link}}" class="assigLink{{item.contextLMS}}">{{item.title  | cut:true:30:'...'}} <span class="sr-only"> (opens in a new page)</span></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date {{item.when}}">
                        <small class="dateSpan">
                          <span  ng-show="item.due_date_sort && !item.today">{{item.due_date_medium}}</span>
                          <span  ng-show="item.due_date_sort && item.today"><a href="" ng-click="showTime = !showTime">{{item.due_date_sort | dateUntil}} </a></span>
                        </small>
                    </div>
                </div>
                <div class="row">
                  <div class="col-lg-1 col-md-1 col-xs-1 iconContainer">
                  </div>
                  <div class="col-lg-8 col-md-8 col-xs-8">
                    <small>
                      Go to
                      <a class="courseLink" target="_blank" href="{{item.contextUrl}}">
                        {{item.context}}
                      </a>
                      course site
                    </small>
                  </div>
                  <div class="col-lg-3 col-md-3 col-xs-3 date" style="text-align:right">
                      <small  ng-show="item.due_date_sort && item.today && showTime">{{item.due_date_time}} </small>
                  </div>
                </div>
              </div>
              
          </li>
      </ul>
      <div ng-show="filteredItems.length > scheduleLimit" class="itemPanelFooter" style="text-align:right"><a href="" ng-click="showAllSchedule()">Show more</a><br></div>


    </div>
</div>